/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'BallpointSignature';
  src: url('BallpointSignature-L3J9W.ttf')
 }

 @font-face {
  font-family: 'Bulgatti';
  src: url('Bulgatti-xgMV.ttf')
 }

 @font-face {
  font-family: 'Halfbred';
  src: url('Halfbred-jEEq0.ttf')
 }

 @font-face {
  font-family: 'Miso';
  src: url('Miso-YoMa.ttf')
 }

 @font-face {
  font-family: 'LemonMilk';
  src: url('LemonMilkMedium-mLZYV.otf')
 }

.nav-item {
  font-family: 'Halfbred';
  font-size: 1.2em !important;
}

.nav-item-title {
  font-family: 'BallpointSignature';
  font-size: 2.4em !important;
}

body {
  background-color: rgba(201, 201, 201, 0.28);
  padding: 10px;
}

h2 {
  font-family: 'LemonMilk';
  font-size: 3.5em !important;
  margin-left: 50px;
  margin-bottom: 80px;
  color: rgba(41, 41, 41, 0.692);
  text-shadow: 2.5px 2.5px #ffffff;
}

h3 {
  font-family: 'LemonMilk';
  font-size: 3.5em !important;
  margin-left: 175px;
  color: rgba(14, 14, 14, 0.692);
}

h6 {
  font-family: 'Miso';
  font-size: 1.5em !important;
  margin-left: 300px;
  color: rgb(0, 0, 0);
}

.capital {
  font-family: 'Bulgatti';
  font-size: 1.8em !important;
  text-shadow: 2.5px 2.5px #00596479;
}

.name {
  font-family: 'Bulgatti';
  font-size: 1.6em !important;
  text-shadow: 2.5px 2.5px #00596479;
  text-decoration: underline;
}
