/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'BallpointSignature';
  src: url('BallpointSignature-L3J9W.ttf')
 }

 @font-face {
  font-family: 'Bulgatti';
  src: url('Bulgatti-xgMV.ttf')
 }

 @font-face {
  font-family: 'Halfbred';
  src: url('Halfbred-jEEq0.ttf')
 }

 @font-face {
  font-family: 'Miso';
  src: url('Miso-YoMa.ttf')
 }

 h1, h2, h3, h4, h5, h6{
  margin-top:100px;
  margin-bottom:100px;
}

.nav-item {
  font-family: 'Halfbred';
  font-size: 1.4em !important;
}

.nav-item-title {
  font-family: 'BallpointSignature';
  font-size: 2.6em !important;
}

body {
  background-color: rgba(201, 201, 201, 0.473);
  padding: 10px;
}
