/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.ttf')
 }

 @font-face {
  font-family: 'Montserrat Italic';
  src: url('Montserrat-Italic.ttf')
 }

 @font-face {
  font-family: 'Montserrat Regular';
  src: url('Montserrat-Regular.ttf')
 }


 @font-face {
  font-family: 'SourceCode';
  src: url('SourceCodePro-Light.ttf')
 }


 .nav-item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em !important;
  text-shadow: 1px 1.5px #ffffff;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: em !important;
  letter-spacing: 0.1em;
  text-shadow: 0.3px 0.3px #ffffff;
}

.nav-link {
  text-decoration: none;
}

.navbar {
  background-color: rgba(187, 211, 197, 0.096);
  border-bottom: 3px dotted #33333310;
  position: fixed;
  width: 100%; /* Full width */
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5px;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.8em !important;
  color: rgba(0, 0, 0, 0.842);
  text-align: left;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3em !important;
  color: rgba(0, 0, 0, 0.842);
  text-align: left;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.1em !important;
  color: rgba(82, 82, 82, 0.842);
  text-align: left;
}

h4 {
  font-family: 'Montserrat Italic', sans-serif;
  font-size: 1.7em !important;
  color: rgba(0, 0, 0, 0.842);
  text-align: justify;
}

.contact-form-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em !important;
  letter-spacing: 0.1em;
  text-shadow: 0.3px 0.3px #ffffff;
  text-transform: uppercase;
  padding-left:5px;
}

.row {
  padding-right:74px;
  padding-left:74px;
}

.contact {
  padding-right:300px;
  padding-left:300px;
}

.contact-form-text-area {
  width: 100%;
  border: 2px solid rgba(207, 207, 207, 0.521);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(167, 167, 167);
  opacity: 0.7; /* Firefox */
}
